<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Inbound-Outbound Station</h1>
    <p>This is Konga's inbounding and outbounding station. It manages stock items between Konga warehouse and merchants.</p>

    <p>
        <a class="btn btn-lg btn-primary" href="/inbound" role="button">Start Inbounding </a>
        <a class="btn btn-lg btn-warning" href="/outbound" role="button">Start Outbounding </a>
    </p>
</div>