<footer class="footer">
    <div class="container">
        <p class="text-muted text-center"><span class="text-primary">ioStation</span> - Konga Online Shopping Ltd. &copy; 2016</p>
    </div>
</footer>