extends layout

block content
 h3 Browse doctors
  ul.docs
   li
    h2 John Doe
    p Specialty: Dentist
    p Location: Boston MA, 01930
    p
     a(href='/doctors/details/1') &t; Details
   li
    h2 John Doe
    p Specialty: Dentist
    p Location: Boston MA, 01930
    p
     a(href='/doctors/details/1') &t; Details  
   li
    h2 John Doe
    p Specialty: Dentist
    p Location: Boston MA, 01930
    p
     a(href='/doctors/details/1') &t; Details    